---
import Grid from "../components/Grid.astro";
import Layout from "../components/Layout.astro";
import { getCollection, render } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const patterns = await getCollection("patterns");
  return patterns.map((pattern) => ({
    params: { patternId: pattern.id },
    props: { pattern },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { pattern } = Astro.props;
const { Content } = await render(pattern);
---

<Layout>
  <a href="/">Home</a> > Patterns > Insert pattern category > Pattern

  <h1>{pattern.data.title}</h1>
  <img src={pattern.data.picture} />
  <p>{pattern.data.price}</p>
  <p>
    <button id="cart-button"> Add to cart </button>
    <div id="button-text">
      <p>{pattern.data.button}</p>
    </div>
  </p>
  <div>
    <h2>Description</h2>
    <p><strong>Level : </strong> {pattern.data.level}</p>
    {pattern.data.description}
  </div>
  <div>
    <h2>Reviews</h2>
    <img src="" />
    <div>Insert review 1</div>
  </div>
  <div>
    <h2>Other patterns</h2>
    <Grid collectionName="patterns" />
  </div>
</Layout>

<style>
  img {
    max-width: 50%;
    margin: auto;
    display: block;
  }
</style>

<script>
  const cartButton = document.getElementById("cart-button");
  const buttonText = document.getElementById("button-text");

  if (cartButton && buttonText) {
    cartButton.addEventListener("click", (event) => {
      console.log(
        "Savais tu qu'il y a " + 60 * 60 + " secondes dans une heure?"
      );
    });
    cartButton.addEventListener("click", (event) => {
      window.open(
        "https://www.tiktok.com/@carlota.fresa/video/7181777306094996741",
        "_blank"
      );
    });
  }
</script>
